/* Section */
.education-section {
 
  color: #f1f3f5;
  min-height: 75vh;
}

/* Section title underline */
/* .title-underline {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #ff6f61, #ffb88c);
  border-radius: 4px;
  margin-top: 8px;
} */

/* Single Card */
.edu-card {
  background: #1f1f2e;
  border-radius: 16px;
  padding: 35px;
  border: none;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  opacity: 0;
  transform: translateY(50px);
}

/* Card Hover Animation */
.edu-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 45px #9042916b;
}

/* Title */
.edu-card h5 {
  color: #40faf7;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  background: #1f1f2e;
}

/* Duration */
.edu-duration {
  display: block;
  font-size: 0.95rem;
  color: #20c997;
  margin-bottom: 6px;
   background: #1f1f2e;
}

/* Institute / Description */
.edu-institute {
  color: #c0c0c0;
  font-size: 0.95rem;
  margin-bottom: 12px;
   background: #1f1f2e;
}

/* Fade + float animation */
.float-up {
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .edu-card {
    padding: 25px;
  }
}
