/* Section */
.projects-section {
  color: #f1f3f5;
 
  min-height: 75vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Section title underline */
/* .title-underline {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #ff6f61, #ffb88c);
  border-radius: 4px;
  margin-top: 8px;
} */

/* Project Card */
.project-card {
  background: #1f1f2e;
  border-radius: 16px;
  padding: 25px;
  border: none;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(50px);
}

/* Card Hover Animation */
.project-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 45px #9042916b;
}

/* Card title */
.project-card h5 {
  color: #40faf7;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 1.3rem;
  background: #1f1f2e;
   transition: 0.3s ease;
}
.project-link:hover h5 {
 
  transform: translateX(6px);
}
.project-link{
  text-decoration: none;
}

/* Card description */
.project-card p {
  color: #c0c0c0;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 15px;
  background: #1f1f2e;
}

/* Tech Stack */
.tech-stack {
  display: flex;
  flex-wrap: wrap;
    background: #1f1f2e;
  gap: 10px;
}

.tech-badge {
  background: #090909a1;
  color: #18c4d3;
  padding: 5px 14px;
  border-radius: 25px;
  font-size: 0.75rem;
  font-weight: 500;
  animation: floatBadge 2.5s ease-in-out infinite;
}

/* Float badge animation */
@keyframes floatBadge {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

/* Fade + float card animation */
.float-up {
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
