.footer-section {
  border-top: 2px solid #1f1f2e;
  color: #d6d6e0;
  padding: 40px 0 20px;
  margin-top: 20vh;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 40px;
}

.footer-logo {
 color: #40faf7;
}

.footer-text {
  color: #a9b0c2;
  font-size: 0.95rem;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #a9b0c2;
  text-decoration: none;
}

.footer-links a:hover {
  color: #40faf7;
}

.footer-socials {
  display: flex;
  gap: 16px;
  font-size: 1.5rem;
}

.footer-socials a {
  color: #00f5d4;
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #2f305c;
  text-align: center;
  font-size: 0.9rem;
  color: #a9b0c2;
}

.heart {
  color: #ff4d6d;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-socials {
    justify-content: center;
  }
}
